page-list {

    .item-note {
        font-family: 'Merienda-Regular';
        text-align: center;
        color: map-get($colors, danger);
    }

    .datetime-text {
      font-size: 3rem;
      height: 4rem;
      color: map-get($colors, primary);
    }
}
