<ion-header>
  <ion-navbar color="primary" center text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Breastfeeding</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col center text-center>
      <ion-datetime display-format="MMMM YY"   min="2018" [(ngModel)]="dateGraph" (ngModelChange)="chooseDate()"></ion-datetime>
    </ion-col>
  </ion-row>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showAlert(item)">
      <ion-icon name="water" item-start></ion-icon>
      {{item.begin | date: 'dd/MM/yyyy HH:mm:ss'}}
      <div class="item-note" item-end>
        {{getValue(item.hours) + ':' + getValue(item.minutes) + ':' + getValue(item.seconds)}}
      </div>
    </button>
  </ion-list>

</ion-content>
