<ion-content padding>
<ion-grid class="animation">
  <ion-row>
    <ion-col center text-center>
      <div width="100%" align="center">
        <div class="backimage"></div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col center text-center>
        <h1 class="title">Mama Timer</h1>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
