page-home {
    .clock {
        font-family: 'Merienda-Regular';
        font-size: 70px;
        text-align: center;
        color: map-get($colors, primary);
    }

    .timer {
        font-family: 'Merienda-Regular';
        font-size: 70px;
        text-align: center;
        color: map-get($colors, danger);
    }

    .backimageStopped {
        width: 25rem;
        height: 27rem;
        background-color: map-get($colors, primary);
        -webkit-mask-box-image: url(../assets/imgs/mamafeed2.png);
    }

    .backimageRunning {
        width: 25rem;
        height: 27rem;
        background-color: map-get($colors, danger);
        -webkit-mask-box-image: url(../assets/imgs/mamafeed2.png);
    }

    .actions {
        padding: 19px;
    }

    .circle-pic{
      width:40px;
      height:40px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }

}
