<ion-header>
  <ion-navbar color="primary" center text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MamaTimer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 *ngIf="feedProvider.stopped" class="clock">{{feedProvider.timeNow | date: 'HH:mm:ss' }}</h1>
  <h1 *ngIf="!feedProvider.stopped" class="timer">{{feedProvider.getTimerStr()}}</h1>
  <ion-row>
    <ion-col center text-center>
      <div width="100%" align="center">
        <div class="{{state}}"></div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
      <button ion-button large (click)="start()" [hidden]="!feedProvider.stopped">
        <ion-icon name="alarm" width="150px"></ion-icon>
        <div class="actions"> Nurse</div>
      </button>
      <button ion-button large (click)="stop()" color="danger" [hidden]="feedProvider.stopped">
        <ion-icon name="hand" width="150px"></ion-icon>
        <div class="actions"> Stop</div>
      </button>
    </ion-col>
  </ion-row>
  <button ion-button (click)="showBanner()" hidden="true">Show Banner</button>
  <button ion-button (click)="launchInterstitial()" hidden="true">Show Interstitial</button>
  <h1 *ngIf="feedProvider.feed" class="timer">{{feedProvider.getFeedTimerStr()}}</h1>
</ion-content>
