<ion-header>
  <ion-navbar color="primary" center text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stats</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row>
      <ion-col center text-center>
        <ion-datetime display-format="MMMM YY"   min="2018" [(ngModel)]="dateGraph" (ngModelChange)="chooseDate()"></ion-datetime>
      </ion-col>
  </ion-row>
  <div >
<!-- [options]="lineChartOptions"  (chartHover)="chartHovered($event)"  (chartClick)="chartClicked($event)"-->
    <canvas *ngIf="showGraph" baseChart width="300" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"

            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"

            ></canvas>

  </div>
</ion-content>
