page-settings {
  .list{
    .grid{
      position: relative;

      &:after{
        display: block;
        position: absolute;
        content: '';
        left: 2.5%;
        bottom: -5px;
        border-bottom: 1px #ddd solid;
        width: 95%;
      }

      &:last-child:after{display: none;}
    }
  }

  .alarm {
    font-size: 3rem;
    color: map-get($colors, primary);
  }

  .subitem {
    font-size: 2rem;
    color: map-get($colors, primary);
  }

  .period{
    font-size: 2rem;
  }
}
