<ion-header>
  <ion-navbar color="primary" center text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="list">
      <ion-grid item-content>
        <ion-row align-items-center>
          <ion-col class="alarm" col-10>Alarm</ion-col>
          <ion-col col-2 text-center>
            <ion-checkbox [(ngModel)]="config.alarm" (ionChange)="saveConfig()"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>

        <ion-grid item-content>
      <ion-row (click)="simpleExample()" align-items-center>
        <ion-col class="subitem" col-10>Interval (hour)</ion-col>
        <ion-col col-2 class="period" text-center>{{config.alarmPeriod}}</ion-col>
      </ion-row>
      </ion-grid>

      <ion-grid item-content>
        <ion-row align-items-center>
          <ion-col class="subitem" col-10>Vibrate</ion-col>
          <ion-col col-2 text-center>
            <ion-checkbox  [(ngModel)]="config.vibrate" (ionChange)="saveConfig()"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
</div>
</ion-content>
